# Basic Python Programming for Data Science

In [1]:
# Membuat input bertipe data string (str)
Nama = input("Nama : ")
Umur = input("Umur : ")
Alamat = input("Alamat : ")

Nama : Pranazha Amreta Sanjiwani
Umur : 19 tahun
Alamat : Jawa Tengah

In [2]:
print(Nama)
print(Umur)
type(Nama)

Pranazha Amreta Sanjiwani
19 tahun

str

In [3]:
# Membuat input bertipe data integer (int)
angka_nazha = int(input())
print(angka_nazha)

11
11

In [4]:
# Membuat input beripe data float
angka_nazha2 = float(input())
print(angka_nazha2)

09
9.0

In [5]:
print("Nama saya"+" "+ Nama + " " + "yang berumur"+ " " + Umur + " " + "dan bertempat tinggal di"+ " " + Alamat)

Nama saya Pranazha Amreta Sanjiwani yang berumur 19 tahun dan bertempat tinggal di Jawa Tengah

In [6]:
print(' nama saya'+" " +'universitas'+ " " +' kota')

 nama saya universitas  kota

In [8]:
text1 = "Nama saya {Nama}, Saya berumur {Umur}".format(Nama = "Dahlan", Umur = 19)
text1

'Nama saya Dahlan, Saya berumur 19'

In [9]:
text2 = "Nama saya {0}, Saya berumur {1}".format("Dahlan", 19)
text2

'Nama saya Dahlan, Saya berumur 19'

In [10]:
text3 = "Nama saya {}, Saya berumur {}".format("Dahlan", 19)
text3

'Nama saya Dahlan, Saya berumur 19'

In [11]:
print("Nama saya %s yang berumur %s dan bertempat tinggal di %s" %(Nama, Umur, Alamat))

Nama saya Pranazha Amreta Sanjiwani yang berumur 19 tahun dan bertempat tinggal di Jawa Tengah

In [12]:
# example
var1 = 'Assalamualaikum Dunia!' #String
var2 = 1234567890 # int
var3 = 0.123456789 # float
var4 = False #bool
var5 = 1j+1 #complex

In [14]:
variable1 = 'Hello world!' #string
variable2 = 110901 #int
variable3 = 0.110901 #float
variable4 = True #bool
variable5 = 1j + 9 #complex

In [15]:
variable7=' belajar bersama Saya di Pusat Studi Data Sains Matematika UAD '
print(variable7)

 belajar bersama Saya di Pusat Studi Data Sains Matematika UAD

In [16]:
variable1
variable3
variable7

' belajar bersama Saya di Pusat Studi Data Sains Matematika UAD '

In [17]:
print(variable1) #tipe data string
print(variable2) #tipe data integer
print(variable3) #tipe data float
print(variable4) #tipe data boolean
print(variable5) #tipe data Complex

Hello world!
110901
0.110901
True
(9+1j)

In [18]:
#Tanda pagar berfungsi sebagai note

#String

#Int

#Float

#Boolean

#Complex

In [19]:
type(variable3)

float

In [20]:
print(variable1,'Tipe data variable 1:', type(variable1))
print(variable2,'Tipe data variable 2:', type(variable2))
print(variable3,'Tipe data variable 3:', type(variable3))
print(variable4,'Tipe data variable 4:', type(variable4))
print(variable5,'Tipe data variable 5:', type(variable5))

Hello world! Tipe data variable 1: <class 'str'>
110901 Tipe data variable 2: <class 'int'>
0.110901 Tipe data variable 3: <class 'float'>
True Tipe data variable 4: <class 'bool'>
(9+1j) Tipe data variable 5: <class 'complex'>

In [21]:
Number = 11
print("Data =", Number, ", Type =", type(Number))

Data = 11 , Type = <class 'int'>

In [22]:
# Mengkonversi tipe data integer
konversi_float = float(Number)
konversi_str = str(Number)
konversi_bool = bool(Number) #False jika integer = 0, lainnya True (perhatikan hasilnya)

# Melihat data yang telah dikonversi
print("data = ", konversi_float , ",type =", type(konversi_float))
print("data = ", konversi_str , ",type =", type(konversi_str))
print("data = ", konversi_bool , ",type =", type(konversi_bool))

data =  11.0 ,type = <class 'float'>
data =  11 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

In [23]:
data_n = [3, 5.7, 'python']
data_n

[3, 5.7, 'python']

In [24]:
x = [7, 9, 11, 13, 19, 23, 27, 31]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

23
31
[13, 19]
[7, 9, 11, 13, 19]
[23, 27, 31]
[9, 13, 23]

In [25]:
# Mengganti elemen
x = [7, 9, 13]
x[2] = 11
print (x)

[7, 9, 11]

In [26]:
# Menambah elemen
x = [7, 9, 11]
x[2] = 19
x.append(5) # append artinya menambah
print(x)

[7, 9, 19, 5]

In [27]:
animal = ['kucing', 'rusa', 'badak', 'gajah']
del animal[2]
print(animal)

['kucing', 'rusa', 'gajah']

In [28]:
del animal [2]
print(animal)

['kucing', 'rusa']

In [29]:
s = "Assalamualaikum Dunia!"
print(s[4]) 		# diambil karakter kelima dari string s
print(s[6:11]) 		# diambil karakter ketujuh hingga sebelas dari string s
s = "Halo Dunia!"	# diubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print (s)

l
muala
Halo Dunia!

In [30]:
s[5] = "d"        # diubah karakter keenam dari string s menjadi "d", seharusnya gagal karena immutable

TypeError: 'str' object does not support item assignment

In [31]:
t = (5,'program', 1+3j)
t

(5, 'program', (1+3j))

In [32]:
t = (5,'program', 1+3j)
print(t[1])
print(t[0:3])

program
(5, 'program', (1+3j))

In [33]:
print(t[0]=10) # gagal

SyntaxError: keyword can't be an expression (<ipython-input-33-5b723ea99150>, line 1)

In [34]:
a = (9, 7, 11,'PSDS')
print (a)
print(a[1])
del[]

(9, 7, 11, 'PSDS')
7

In [35]:
a = {9, 7, 7, 11, 19, 19}
print(a)

{19, 9, 11, 7}

In [36]:
a = {1, 2, 3}
print(a[1])

TypeError: 'set' object is not subscriptable

In [37]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [38]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [39]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [40]:
# Calling error
print("d[2] = ", d[2]);

KeyError: 2

In [41]:
list1 = [1,2,3,4,5]
list2 = ["satu","dua","tiga","empat","lima"]
print("data = ", list1 , ",type =", type(list1))

data =  [1, 2, 3, 4, 5] ,type = <class 'list'>

In [42]:
# Mengkonversi struktur data list
kon_tuple = tuple(list1)
kon_set = set(list1)
kon_dict = dict(zip(list2,list1))

# Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}

Kesimpulan

1. List merupakan salah satu anggota tipe data berurut dan terstruktur. Untuk membentuk list diperlukan tanda kurung siku ([]) dan setiap nilai di dalamnya dipisahkan menggunakan tanda koma (,).

2. Tupe bersifat immutable, artinya isi tuple tidak bisa diubah dan dihapus. Tipe data tuple didefinisikan dengan tanda kurung (()).

3. Set memiliki anggota yang unik. Jika diletakkan dua anggota yang sama di dalam set, maka otomatis set akan menghilangkan salah satu dari anggota tersebut.

4. Dictionary merupakan tipe data yang berfungsi untuk mengumpulkan data atau nilai dengan menggunakan key value. Key adalah identitas dari sebuah anggota pada dictionary.